body {
    background-color: white;
    color: black;
    text-align: left;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body h1 {
    text-decoration: underline #004A98;
}



/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

#page-header {
    background-image: url("images/ndBanner3.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    background-color: #DFEFFF;

    color: #004A98;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 50px;

}



/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

#page-menu {
    background-color: #004A98;
    padding: 10px;
    padding-left: 10px;
}

#page-menu button {
    background-color: #004A98;
    color: #e6f3ff;
    border: none;
    text-decoration: underline #e6f3ff;

}

#page-menu button:hover {
    font-size: 18px;
    color: white;
    cursor: pointer;

}



/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.headpic img {
    width: 100%;
}



/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

#page-body {
    width: 600px;
    margin: 0 auto;
}



/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

hr.new1 {
    border-top: 2px solid black;
}

/* .page-link {
    padding: 20px 0px;

    background-color: #DFEFFF;
    border: 2px solid #004A98;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 1.5m;
    font-weight: bold;

    display: block;
}

a.page-link {
    color: black;
}

a.page-link:link {
    text-decoration: none;
}

a.page-link:visited {
    text-decoration: none;
}

a.page-link:hover {
    text-decoration: none;
}

a.page-link:active {
    text-decoration: none;
} */



/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.article {
    padding: 20px 0px;

    background-color: #DFEFFF;
    border: 2px solid #004A98;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.article img {
    width: 60%;
}

/* hide / show control */
.article .content {
    display: none;
}

.dont-break-out {
    word-break: break-all;
}



/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.in-article {
    padding: 20px 0px;

    background-color: #DFEFFF;
    border: 2px solid #004A98;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;

    text-decoration: underline black;
}

a.in-art-link {
    color: #26428b;
}

a.in-art-link:link {
    text-decoration: underline;
}

a.in-art-link:visited {
    text-decoration: underline;
}

a.in-art-link:hover {
    text-decoration: underline;
}

a.in-art-link:active {
    text-decoration: underline;
}



/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.symbols {
    /* padding: 20px; */

    background-color: #DFEFFF;
    border: 2px solid #004A98;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;

}

.symbols img {
    width: 100%;
}

.symbols .content {
    display: none;

}



/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.article:hover {
    cursor: pointer;
}

.in-article:hover {
    cursor: pointer;
}

.in-article:hover h3 {
    font-size: 20px;
    text-decoration: underline #004A98;
}

.symbols:hover {
    cursor: pointer;
}

.content.selected {
    display: block;
}



/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

table {
    border-spacing: 15px;
}

td {
    padding: 3px;
    border: 2px solid #004A98;
    border-radius: 20px;

}

td img {
    border-radius: 20px;
    vertical-align: middle;
}



/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

#page-footer {
    background-color: #004A98;
    color: white;
    padding: 10px;
    font-size: 0.75rem;

}

.sources {
    background-color: #DFEFFF;
    color: #26428B;
    padding: 15px;
    padding-bottom: 18px;
    height: 20px;
}



/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/